<form id="todoForm" [formGroup]="form" class="container">
  <fieldset>
    <label for="title" class="margin">Title:</label>
    <input
      [placeholder]="'Description of planned TODO'"
      type="text"
      class="form-control"
      id="title"
      name="title"
      formControlName="title"
      required
    />

    <label for="date" class="margin">Date:</label>
    <div class="input-group datepicker">
      <input
        class="form-control"
        [placeholder]="'Due date'"
        id="date"
        name="date"
        formControlName="date"
        [(ngModel)]="model"
        [footerTemplate]="footerTemplate"
        ngbDatepicker
        #d="ngbDatepicker"
        required
      />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="d.toggle()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
            />
          </svg>
        </button>
      </span>
    </div>

    <label for="title" class="margin">Priority:</label>
    <select class="form-select" aria-label="Default select example" formControlName="priority" required>
      <option value="" selected disabled>Choose TODO priority</option>
      <option value="{{ todoPriority.LOW }}">LOW</option>
      <option value="{{ todoPriority.NORMAL }}">NORMAL</option>
      <option value="{{ todoPriority.HIGH }}">HIGH</option>
    </select>

    <button class="btn btn-primary margin" [disabled]="!form.valid" (click)="saveTodo()">
      Save TODO
    </button>
  </fieldset>
</form>

<ng-template #footerTemplate>
  <hr class="my-0" />
  <div>
    <div>
      <button
        class="btn btn-info btn-sm m-2 float-start btn-today"
        (click)="selectToday(); d.close()"
      >
        Today
      </button>
      <button
        type="button"
        class="btn btn-sm btn-danger btn-clear"
        (click)="clear(); d.close()"
      >
        Clear
      </button>

      <button class="btn btn-success btn-sm m-2 float-end" (click)="d.close()">
        Close
      </button>
    </div>
  </div>
</ng-template>
